@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
font-family: "Work Sans", serif;
h2 {
  font-size: 32px;
  /* color: white; */
}
div{
    justify-content: center;
}